# Node dependencies
/node_modules

# Build outputs
/dist
/out-tsc

# Angular cache
/.angular

# VS Code settings
.vscode/

# IDE settings
.idea/

# Logs and environment files
*.log
.env
.env.*

# System files
.DS_Store
Thumbs.db
